<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/data_viz_2022/blob/main/FinalExam_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam 
## กลุ่ม alphabetical

1.นางสาวมินตรา ทิพยรัตน์สุนทร  623020041-2

2.นายศิริวัฒน์ ภูลำสัตย์ 623020765-0

3.นางสาวนริศรา ชัยฤทธิ์ 623021001-9

# Load data

In [1]:
import pandas as pd  # import package เข้ามา
import os  # ใช้จัดการไฟล์ต่างๆ

In [2]:
from google.colab import drive  # เชื่อม google drive เพื่อเอาข้อมูลมาใช้
drive.mount('/content/drive')  
path = '/content/drive/My Drive/ovrdt data'  # ชี้โฟลเดอร์ใน google drive

Mounted at /content/drive

# Data 1 alldb

In [3]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))  # สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data1  # แสดงข้อมูล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [4]:
data1 = data1.drop(columns=['title','age','Unnamed: 0','care','pid'])  # ทำการลบคอลัมน์ที่ไม่ต้องการออกไป
print(data1.shape)
data1.head()

(40035, 9)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN

In [5]:
data1.isnull().sum()

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
dtype: int64

## user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [6]:
data1 = data1[(data1['user'].astype(str).str.isdigit()) & (data1['user'].str.len() == 5)]  # จากนั้นเลือกมาเฉพาะ คอลัมน์ user ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx

In [7]:
data1.isnull().sum()  # ดูค่าว่าง

user              0
RowKey            0
date            302
ov              221
phone             0
site              2
time            303
urine           126
PartitionKey     25
dtype: int64

## RowKey เป็น String

In [8]:
data1['RowKey']=data1['RowKey'].astype('string')  # โดยการเปลี่ยน dtype เป็น  String
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx

In [9]:
print(data1.dtypes)  # จึงพบว่า RowKey เป็น String

user            object
RowKey          string
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
dtype: object

## date เป็น YYYY-MM-DD

In [10]:
data1['date'] = pd.to_datetime(data1 ['date'],format='%Y/%m/%d')  # เปลี่ยนรูปแบบของเเละจัดชนิดของข้อมูล(วันเดือนปี)
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999
40017,12345,zgvicawbkg.png,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx

In [11]:
data1['date'] = data1[['date']].fillna(method="ffill")  # เติมค่าว่างของวันที่ด้วย ค่าก่อนหน้า
data1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999
40017,12345,zgvicawbkg.png,2022-03-10,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx

In [12]:
print(data1.dtypes)
print('*'*50)
data1.isnull().sum()

user                    object
RowKey                  string
date            datetime64[ns]
ov                      object
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
dtype: object
**************************************************

user              0
RowKey            0
date              0
ov              221
phone             0
site              2
time            303
urine           126
PartitionKey     25
dtype: int64

## site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [13]:
data1 = data1[(data1['site'].astype(str).str.isdigit()) & (data1['site'].str.len() == 5)]  # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [14]:
data1.isnull().sum()  # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time            301
urine           124
PartitionKey     20
dtype: int64

## time เป็น hh-mm-ss

In [15]:
data1['time'] = pd.to_datetime(data1['time'],format='%H:%M%:%S',errors='ignore')  # เปลี่ยนชนิดข้อมูลและจัดรูปแบบข้อมูล(วินาที นาที ชั่วโมง)
data1  # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [16]:
data1['time'] = data1[['time']].fillna(method="ffill")  # เติมค่าว่างของเวลาด้วย ค่าก่อนหน้า
data1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [17]:
data1.isnull().sum()  # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time              0
urine           124
PartitionKey     20
dtype: int64

## urine มีค่า String

In [18]:
data1['urine'] = data1[['urine']].fillna(method="ffill")  # เติมค่าว่างของ urine ด้วย ค่าก่อนหน้า
data1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [19]:
print(data1.dtypes)

user                    object
RowKey                  string
date            datetime64[ns]
ov                      object
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
dtype: object

In [20]:
data1.isnull().sum()  # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time              0
urine             6
PartitionKey     20
dtype: int64

## ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [21]:
set(data1['ov'])  # เรียกดู set ของ ov

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [22]:
data1 = data1[data1['ov']!='ติดเชื้อ +2 ']  # ไม่เอา 'ติดเชื้อ +2 '
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

จากนั้นจะเหลือข้อมูล 38492 ข้อมูลเมื่อ ลบ

In [23]:
set(data1['ov'])  # ดู set ของข้อมูล ติดเชื้อ +2

{'0', '1', '2', '3', '4', nan}

In [24]:
data1[['ov']] = data1[['ov']].fillna('ไม่ระบุ')  # แทน ไม่ระบุ ในค่าว่าง
data1  # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,ไม่ระบุ,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

## phone เป็น String

In [25]:
data1['phone']=data1['phone'].astype('string')  # โดยการเปลี่ยน dtype เป็น  String
data1  # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,10:50:32,NaN,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:46,NaN,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,11:14:21,NaN,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:32,NaN,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,ไม่ระบุ,"iPhone13,3",22222,17:39:35,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [26]:
print(data1.dtypes)  # จึงพบว่า phone เป็น String

user                    object
RowKey                  string
date            datetime64[ns]
ov                      object
phone                   string
site                    object
time                    object
urine                   object
PartitionKey            object
dtype: object

## PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [27]:
data1 = data1[(data1['PartitionKey'].astype(str).str.isdigit()) & (data1['PartitionKey'].str.len() == 5)]  # จากนั้นเลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999

In [28]:
data1.isnull().sum()  # ดูค่าว่าง

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
dtype: int64

# Data 2 hospital_list

In [29]:
hospital_list = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))  # สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
hospital_list  # แสดงข้อมูล

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [30]:
data2 = hospital_list[['hcode',	'name', 'zone_name', 'province', 'amphur', 'tambon']]  # เลือกเฉพาะ column ที่ต้องการ
data2

,hcode,name,zone_name,province,amphur,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ
...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น

In [31]:
data2.isnull().sum()  # ดูค่าว่าง

hcode          0
name           1
zone_name      4
province       0
amphur         2
tambon       209
dtype: int64

# เชื่อมตาราง

In [32]:
# เชื่อมตาราง alldb_data และ hospital_data เข้าด้วยกัน โดยให้ตาราง alldb_data เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table = data1.merge(data2,how='left',left_on='site',right_on='hcode')
merge_table

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,hcode,name,zone_name,province,amphur,tambon
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38376,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN,NaN,NaN,NaN,NaN
38377,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
merge_table.isnull().any()  # ดูค่าว่าง

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
dtype: bool

In [34]:
merge_table_drop = merge_table.dropna()  # ลบข้อมูลที่เป็นค่าว่างออก
merge_table_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,hcode,name,zone_name,province,amphur,tambon
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38364,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,2,"iPhone11,8",11088,10:30:22,ปกติ (เหลืองใส),89170,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง
38365,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,0,"iPhone11,8",11088,10:29:37,ปกติ (เหลืองใส),90470,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง
38366,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,1,"iPhone11,8",11088,10:24:40,ปกติ (เหลืองใส),91123,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง
38367,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,1,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),99444,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง
38368,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,0,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง

In [35]:
# จากการทำ dropna() ทำให้ข้อมูลหายไปกี่ % 
removed = merge_table.shape[0] - merge_table_drop.shape[0]

print(f'size before drop = {merge_table.shape[0]}')
print(f'size aftre drop = {merge_table_drop.shape[0]}')
print(f'we loss {100*(removed/merge_table.shape[0])}% of data')

size before drop = 38381
size aftre drop = 38304
we loss 0.20062009848623016% of data

In [36]:
merge_table_drop.isnull().any()  # ดูค่าว่าง

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
dtype: bool

# นำข้อมูลออกไปใช้งานต่อ

In [37]:
# merge_table_drop.to_csv(os.path.join(path,'final_data.csv'))